#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 2px solid #000000; 
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr:nth-child(even) {
  background-color: #ddd;
}

th {
  background-color: lightgreen;
} */

/* add these */


